<h3 class="heading">Продукт</h3>


<section class="product-details-form">
  <form [formGroup]="fm" (ngSubmit)="submitProductForm()" #ngForm="ngForm" [ngClass]="{'form-submitted': ngForm.submitted}" novalidate autocomplete="off">

    <app-state-overlay [state]="state"></app-state-overlay>

    <fieldset>
      <h4>Oсновное</h4>
      <!-- general -->
      <div class="row">
        <div class="col">
          <div class="form-controls">
            <label for="productCode" class="form-label">Код</label>
            <input id="productCode" class="form-control" type="text" disabled [value]="product.code || ''">
          </div>
          <div class="form-controls">
            <label for="productName" class="form-label">Имя</label>
            <input id="productName" class="form-control" type="text" formControlName="name">
            <app-form-error [error]="fm.controls.name.errors?.required" [form]="ngForm" message="Введите имя"></app-form-error>
          </div>
          <div class="form-controls">
            <label for="productDescription" class="form-label">Описание</label>
            <textarea id="productDescription" class="form-control" formControlName="description" style="max-width: none"></textarea>
          </div>
        </div>
        <div class="col">
          <div class="form-controls">
            <label for="productSupplier" class="form-label">Производитель</label>
            <div>
              <select id="productSupplier" class="form-control" formControlName="supplier">
                <option [ngValue]="undefined">---</option>
                <option *ngFor="let s of suppliers" [ngValue]="s.id">{{s.name}}</option>
              </select>
              <app-form-error [error]="fm.controls.supplier.errors?.required" [form]="ngForm" message="Укажите производителя"></app-form-error>
            </div>
          </div>
          <div class="form-controls">
            <label for="productGroup" class="form-label">Категория</label>
            <div>
              <select id="productGroup" class="form-control" formControlName="category">
                <option [ngValue]="undefined">---</option>
                <option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>
              </select>
              <app-form-error [error]="fm.controls.category.errors?.required" [form]="ngForm" message="Укажите категорию"></app-form-error>
            </div>
          </div>
        </div>
      </div>
      <!-- price -->
      <div class="row">
        <div class="col">
          <div class="form-controls">
            <label for="productPrice" class="form-label">Цена закупки</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input id="productPrice" type="text" class="form-control" formControlName="cost">
            </div>
            <app-form-error [error]="fm.controls.cost.errors?.required" [form]="ngForm" message="Введите цену закупки"></app-form-error>
          </div>
          <div class="form-controls">
            <label for="productPriceUplift" class="form-label">Наценка</label>
            <div class="input-group">
              <span class="input-group-text">%</span>
              <input id="productPriceUplift" type="text" class="form-control" formControlName="priceUplift">
            </div>
          </div>
        </div>
        <div class="col">
          <app-product-price-report [product]="product"></app-product-price-report>
        </div>
      </div>
    </fieldset>
    <fieldset *ngIf="product.id">
      <br>
      <h4>Характеристики</h4>
      <!-- attributes -->
      <div class="row">
        <div class="col-12">
          <app-product-attributes

            [product]="product"
          ></app-product-attributes>
        </div>
      </div>
    </fieldset>
    <fieldset *ngIf="product.id">
      <br>
      <h4>Изображения</h4>
      <!--images-->
      <app-product-images [productId]="product.id" [images]="product.images"></app-product-images>
    </fieldset>

    <div class="form-controls-buttons">
      <button type="submit" class="btn btn-outline-primary" [disabled]="fm.disabled">Сохранить</button>
      <app-shared-error *ngIf="productFormState.isError()" [message]="productFormState.getMessage()"></app-shared-error>
    </div>
  </form>
</section>




