<header class="heading">
  <h3>Suppliers <span *ngIf="suppliers.state.isReady()" class="badge bg-secondary">{{suppliers.value.length}}</span></h3>
</header>

<app-pagination *ngIf="suppliers.state.isReady()"
                [pagination]="pagination"
                (onPagination)="suppliersToShow = pagination.getPage(suppliers.value)"></app-pagination>

<table class="table results-table">
  <thead>
    <tr>
      <th class="img"></th>
      <th>Name</th>
      <th class="actions">
        <button class="btn btn-outline-secondary btn-sm" [routerLink]="['supplier']">
          <i class="bi-plus"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="suppliers.state.isInProgress()">
    <tr>
      <td colspan="3">
        <app-shared-in-progress></app-shared-in-progress>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="suppliers.state.isError()">
    <tr>
      <td colspan="3">
        <app-shared-error></app-shared-error>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="suppliers.state.isReady()">
    <tr *ngFor="let supplier of suppliersToShow">
      <td class="img">
        <app-server-image cssClass="table-image" [imageId]="supplier.value.logo"></app-server-image>
      </td>
      <td><a [routerLink]="['supplier', supplier.value.id]">{{supplier.value.name}}</a></td>
      <td class="actions">
        <app-shared-error *ngIf="supplier.state.isError()" [message]="supplier.state.getMessage()"></app-shared-error>
        <button type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="deleteSupplier(supplier)"
                [disabled]="supplier.state.isInProgress()">
          <i class="bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
