@import "src/styles/variables";

$fullHeight: 300px;
$logoHeight: 200px;

::ng-deep .product-card {
  height: $fullHeight;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;

  & > * {
    align-self: center;
  }

  .product-card-name {
    padding: 0.5em 0 0.5em 0;
    height: 4em;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    display: flex;
    align-items: center;
  }

  .product-card-logo {
    height: $logoHeight;
    display: flex;
    align-items: center;

    img {
      max-height: $logoHeight;
      max-width: 100%;
    }
  }
}
