
form {
  padding: 0 15px 0 15px;
}

.form-controls {
  margin-bottom: 3px;

  .form-label {
    margin-bottom: 0;
  }

}

input,
select,
textarea {
  &.form-control {
    max-width: 300px;
  }
}

.input-group {
  max-width: 300px;
}


.form-controls-buttons {
  margin-top: 10px;
}

.form-image {
  max-height: 200px;
}


