@import "variables";
@import "variables-bootstarp-ext";

.rodnikov {
  @import "grid";
  @import "form";
  @import "table";
  @import "untegorised";
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $mainTextColor;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



