


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1500px
);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



.rodnikov {
  @import "grid";
  @import "form";
  @import "table";
  @import "untegorised";
  @import "variables";
}
