/* You can add global styles to this file, and also import other style files */
table,
table.table {
  table-layout: fixed;

  th,
  td {
    vertical-align: middle;
  }

  th.currency,
  td.currency {
    text-align: right;
  }

  th.actions,
  td.actions {
    text-align: right;
  }

  th.img,
  td.img {
    padding-bottom: 0;
    padding-top: 0;
    width: 60px;

    img {
      max-height: 38px;
      max-width: 55px;
    }
  }

}

table.report {
  width: 300px;
  margin-bottom: 1em;

  td {
    padding: 0;
  }
}


