/* You can add global styles to this file, and also import other style files */
table.results-table,
table.results-table.table {
  table-layout: fixed;

  th {
    font-weight: 500;
  }

  th,
  td {
    vertical-align: middle;
  }

  th.currency,
  td.currency {
    text-align: right;
    width: 85px;
  }

  th.actions,
  td.actions {
    text-align: right;
  }

  th.img,
  td.img {
    padding-bottom: 0;
    padding-top: 0;
    width: 60px;

    img {
      max-height: 38px;
      max-width: 55px;
    }
  }

}

table.table-fixed {
  table-layout: fixed;
}

table.results-table,
table.results-table.table {
  table-layout: fixed;
  font-size: 14px;

  .form-control {
    font-size: 14px;
  }

  th,
  td {
    padding: 0.3rem;
  }

}

table.report {
  width: 300px;
  margin-bottom: 1em;

  td {
    padding: 0;
  }
}


