/* You can add global styles to this file, and also import other style files */
table,
table.table {

  th,
  td {
    vertical-align: middle;
  }

  th.actions,
  td.actions {
    text-align: right;
  }

  td.img {
    padding-bottom: 0;
    padding-top: 0;
    width: 60px;

    img {
      height: 38px;
    }
  }

}


