<header class="heading">
  <h3>Groups <span *ngIf="groups.state.isReady()" class="badge bg-secondary">{{groups.value.length}}</span></h3>
</header>



<div class="222">
  <div class="row">
    <div class="col">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th class="actions">
              <button class="btn btn-outline-secondary btn-sm" [routerLink]="['group']">
                <i class="bi-plus"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="groups.state.isInProgress()">
          <tr>
            <td colspan="2">
              <app-shared-in-progress></app-shared-in-progress>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="groups.state.isError()">
          <tr>
            <td colspan="2">
              <app-shared-error></app-shared-error>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="groups.state.isReady()">
          <tr *ngFor="let group of groups.value">
            <td><a [routerLink]="['group', group.value.id]">{{group.value.name}}</a></td>
            <td class="actions">
              <app-shared-error *ngIf="individualStates[group.value.id]?.isError()" [message]="individualStates[group.value.id]?.getMessage()"></app-shared-error>
              <button type="button"
                      class="btn btn-outline-danger btn-sm"
                      (click)="deleteGroup(group)"
                      [disabled]="individualStates[group.value.id]?.isInProgress()">
                <i class="bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <app-product-groups-tree [groups]="tree" *ngIf="groups.state.isReady()"></app-product-groups-tree>
    </div>
  </div>
</div>



