<form class="login">
  <div class="form-controls">
    <label for="login" class="form-label">Login</label>
    <input id="login" type="text" class="form-control"/>
  </div>
  <div class="form-controls">
    <label for="password" class="form-label">Password</label>
    <input id="password" type="password" class="form-control"/>
  </div>
  <div class="form-control-buttons">
    <button type="submit" class="btn btn-outline-primary">
      <i class="bi-box-arrow-in-right"></i>
    </button>
  </div>
</form>
