@import "../styles/variables";

$height: 50px;

.main-header {

  .header-top {
    height: $height;
  }

  .header-bottom-wrapper {
    background: $mainThemeColor;
    color: $inverseThemeColor;
    height: $height;
  }

  .header-bottom {
    height: $height;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    ul {
      display: flex;
      margin: 0;
      list-style: none;

      li {
        padding: 0;

        a {
          border-radius: $borderRadius;
          padding: .5rem 1rem;
          color: $inverseThemeColor;
          text-decoration: none;

          &.active {
            background: $inverseThemeColor;
            color: $mainThemeColor;
          }
        }

      }
    }
  }

}

.global-toaster {
  position: fixed;
  top: calc(100px + 1em);
  width: 200px;
  right: 1em;
  z-index: 999999;
}
