<div class="rodnikov">
  <header class="main-header">
    <div class="header-top container">
      top
    </div>
    <div class="header-bottom-wrapper">
      <div class="container">
        <nav class="header-bottom">
          <ul>
            <li><a routerLink=""><i class="bi-house-door"></i></a></li>
            <li><a routerLink="" ><i class="bi-list"></i> Kaтегории</a></li>
            <li><a routerLink="catalogue" routerLinkActive="active">Catalogue</a></li>
            <li><a routerLink="configuration" routerLinkActive="active">Configuration</a></li>
            <li><a routerLink="auth" routerLinkActive="active">Auth</a></li>
          </ul>
          <ul>
            <li><a routerLink="goods" routerLinkActive="active">Goods</a></li>
            <li><a routerLink="catalogue" routerLinkActive="active">Catalogue</a></li>
            <li><a routerLink="configuration" routerLinkActive="active">Configuration</a></li>
            <li><a routerLink="auth" routerLinkActive="active">Auth</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <br>
  <main class="container">
    <router-outlet></router-outlet>
  </main>


</div>







