@import "../styles/variables";

$height: 50px;

.main-header {
  ul {
    display: flex;
    margin: 0;
    list-style: none;
    align-items: center;
  }

  li {
    padding: 0;

    a {
      padding: .5rem 1rem;
    }
  }


  .header-top {
    height: $height;


    .header-top-logo,
    .header-top-links {
      display: flex;
      align-items: center;
      height: 50px;
    }

    .header-top-logo {
      justify-content: flex-start;
    }

    .header-top-links {
      justify-content: flex-end;
      .search-trigger:after {
        display: none;
      }
    }

  }

  .header-bottom-wrapper {
    background: $mainThemeColor;
    color: $inverseThemeColor;
    height: $height;
  }

  .header-bottom {
    height: $height;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav.header-bottom {
    ul {
      li {
        a {
          border-radius: $borderRadius;

          color: $inverseThemeColor;

          &.active {
            background: $inverseThemeColor;
            color: $mainThemeColor;
          }
        }
      }
    }
  }


}

.global-toaster {
  position: fixed;
  top: calc(100px + 1em);
  width: 200px;
  right: 1em;
  z-index: 999999;
}

