<div class="rodnikov">
  <header class="main-header">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header-top-logo">
              <img src="assets/img/logo.jpg" alt="">
            </div>
          </div>
          <div class="col">
            <div class="header-top-links">
              <ul>
                <li ngbDropdown>
                  <a ngbDropdownToggle class="search-trigger">
                    <i class="bi-search"></i>
                    <div ngbDropdownMenu>
                      <app-showcase-search-box></app-showcase-search-box>
                    </div>
                  </a>
                </li>
                <li><a routerLink=""><i class="bi-person"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom-wrapper">
      <div class="container">
        <nav class="header-bottom">
          <ul>
            <li><a routerLink=""><i class="bi-house-door"></i></a></li>
            <li *ngIf="!categoriesLinkInteractive"><a routerLink=""> <i class="bi-list"></i> Kaтегории</a></li>
            <li ngbDropdown *ngIf="categoriesLinkInteractive">
              <a ngbDropdownToggle class="search-trigger">
                <i class="bi-list"></i> Kaтегории
                <div ngbDropdownMenu>
                  <app-showcase-product-categories></app-showcase-product-categories>
                </div>
              </a>
            </li>
            <li><a routerLink="catalogue" routerLinkActive="active">Каталог</a></li>
            <li><a routerLink="configuration" routerLinkActive="active">Настройки</a></li>
          </ul>
          <ul>
            <li><a routerLink="about-us" routerLinkActive="active">О нас</a></li>
            <li><a routerLink="contacts" routerLinkActive="active">Контакты</a></li>
            <li><a routerLink="payment-and-delivery" routerLinkActive="active">Оплата и доставка</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <br>
  <main class="container">
    <div class="global-toaster">
      <app-global-toaster></app-global-toaster>
    </div>
    <router-outlet></router-outlet>
  </main>
</div>







