<div>
  <app-shared-in-progress *ngIf="productsState.isInProgress()"></app-shared-in-progress>
  <app-shared-error *ngIf="productsState.isError()" [message]="productsState.getMessage()"></app-shared-error>
  <div *ngIf="productsState.isReady()">
    <app-pagination [pagination]="pagination" (onPagination)="onPagination($event)"></app-pagination>
    <div class="showcase-products">
      <app-showcase-product-card *ngFor="let product of productsToShow" [product]="product" class="showcase-product"></app-showcase-product-card>
    </div>
    <app-pagination [pagination]="pagination" (onPagination)="onPagination($event)"></app-pagination>
  </div>

</div>
