<div class="card-body" *ngIf="supplierFilters.length">
  <h5 class="card-title showcase-filters-title">Производители</h5>
  <div class="showcase-filters-items">
    <div class="showcase-filters-item" *ngFor="let supplier of supplierFilters">
      <label>
        <input type="checkbox" [(ngModel)]="supplier.checked" (change)="onSupplierFilterChange()">
        <a class="showcase-filters-name"> {{supplier.name}}</a>
        <span class="badge bg-secondary showcase-filters-count"> {{supplier.productsCount}}</span>
      </label>
    </div>
  </div>
</div>
