<html>

<head>
    <title>Express</title>
    <link rel="stylesheet" href="../css/style.css">
    <base href="">
</head>

<body>
<h1>Express</h1>
<p>Welcome to Express</p>


<form action="/api/document/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="privet" multiple>
    <button type="submit">Submit</button>
</form>

<div>buka</div>
<script src="/js/runtime.js" defer></script>
<script src="/js/polyfills.js" defer></script>
<script src="/js/vendor.js" defer></script>
<script src="/js/main.js" defer></script>

<app-root></app-root>



</body>

</html>
