<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Client</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../ngjs/favicon.ico">
    <link rel="stylesheet" href="../ngjs/styles.css">
</head>
<body>
<app-root></app-root>
<script src="../ngjs/runtime.js" defer></script>
<script src="../ngjs/polyfills.js" defer></script>
<script src="../ngjs/main.js" defer></script>
</body>
</html>

