<h3>Характеристика</h3>

<fieldset>
  <app-state-overlay [state]="templateState"></app-state-overlay>
  <form [formGroup]="templateForm" (ngSubmit)="submitAttributeTemplateForm()">
    <div>
      <div class="form-controls">
        <label for="templateName" class="form-label">Name</label>
        <input id="templateName" type="text" formControlName="name" class="form-control">
      </div>
    </div>
    <div class="form-controls-buttons">
      <button type="submit" class="btn btn-outline-primary" [disabled]="templateForm.disabled">Submit</button>
      <app-shared-error *ngIf="templateFormState.isError()" [message]="templateFormState.getMessage()"></app-shared-error>
    </div>
  </form>
</fieldset>




