<app-shared-in-progress *ngIf="categoriesState.isInProgress()"></app-shared-in-progress>
<app-shared-error *ngIf="categoriesState.isError()" [message]="categoriesState.getMessage()"></app-shared-error>
<select [id]="selectId"
        class="form-control"
        [(ngModel)]="category"
        (ngModelChange)="onChange()"
        *ngIf="categoriesState.isReady()">
  <option [ngValue]="undefined" *ngIf="nullOption">{{nullOption}}</option>
  <option *ngFor="let v of (categories | keyvalue)" [ngValue]="v.value.id">{{v.value.name}}</option>
</select>
