<div class="paginator" [style.visibility]="pagination.total / pagination.pageSize > 1 ? 'visible' : 'hidden'">

  <ngb-pagination
    (pageChange)="onPageChange($event)"
    [maxSize]="5"
    [(page)]="pagination.pageNo"
    [pageSize]="pagination.pageSize"
    [collectionSize]="pagination.total"></ngb-pagination>

  <label>
    <span></span>
    <select [(ngModel)]="pagination.pageSize" (ngModelChange)="onPageSizeChange()" class="form-control">
      <option [value]="" *ngFor="let size of pagination.pageSizeOptions">{{size}}</option>
    </select>
  </label>

  <i> из {{pagination.total}}</i>
</div>
