<app-shared-in-progress *ngIf="groupsState.isInProgress()"></app-shared-in-progress>
<app-shared-error *ngIf="groupsState.isError()" [message]="groupsState.getMessage()"></app-shared-error>
<select [id]="selectId"
        class="form-control"
        [(ngModel)]="group"
        (ngModelChange)="onChange()"
        *ngIf="groupsState.isReady()">
  <option [ngValue]="null" *ngIf="nullOption">{{nullOption}}</option>
  <option *ngFor="let v of (groups | keyvalue)" [ngValue]="v.value.id">{{v.value.name}}</option>
</select>
