<h3>Категория</h3>
<fieldset>
  <app-state-overlay [state]="state"></app-state-overlay>
  <form [formGroup]="fm" (ngSubmit)="submitCategoryForm()">
    <div class="form-controls">
      <label for="categoryName" class="form-label">Имя</label>
      <input id="categoryName" class="form-control" type="text" formControlName="name">
    </div>
    <div class="form-controls">
      <label for="categoryParent" class="form-label">Родительская категория</label>
      <div>
        <select id="categoryParent" class="form-control" formControlName="parent">
          <option [ngValue]="null">----</option>
          <option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-controls-buttons">
      <app-shared-error *ngIf="categoryFormState.isError()" [message]="categoryFormState.getMessage()"></app-shared-error>
      <button type="submit" class="btn btn-outline-primary" [disabled]="fm.disabled">Submit</button>
    </div>
  </form>
</fieldset>




