.configuration-input {
  .form-controls {
    display: flex;
    align-items: center;

    label {
      width: 200px;
      line-height: 1;
    }

    .input-group {
      display: flex;
      align-items: center;
    }
  }
}
