.configuration-input {
  .form-controls {
    display: flex;
    align-items: center;

    label {
      width: 200px;
      line-height: 1;
      margin-right: 1em;
    }

    .input-group {
      display: flex;
      align-items: center;
      max-width: none;

      .input-group-input {
        width: 250px;
      }

    }
  }
}
