<div class="card-body">
  <h5 class="card-title showcase-filters-title">Цена</h5>
  <form [formGroup]="fm" class="showcase-price-range" (ngSubmit)="submitPriceFilter(fm)">
    <div class="range-controls">
      <input type="text" class="form-control form-control-sm" formControlName="min" [placeholder]="min || ''" app-input-number>
      <span class="range-divisor">-</span>
      <input type="text" class="form-control form-control-sm" formControlName="max" [placeholder]="max || ''">
    </div>
    <div class="range-controls buttons">
      <button type="submit" class="btn btn-outline-secondary btn-sm"
              app-button-ok
              [disabled]="fm.invalid">
      </button>
    </div>
  </form>
</div>
