<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-light bg-light">
          <div>
            <a class="navbar-brand" routerLink="products" routerLinkActive="active">Подукты</a>
            <a class="navbar-brand" routerLink="categories" routerLinkActive="active">Категории</a>
            <a class="navbar-brand" routerLink="suppliers" routerLinkActive="active">Производители</a>
            <a class="navbar-brand" routerLink="attribute-template" routerLinkActive="active">Характеристики</a>
          </div>
        </nav>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>





