<div>
  <div class="container-fluid">
    <div class="row">
      <section class="col-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" routerLink="products" routerLinkActive="active"><a>Подукты</a></li>
          <li class="list-group-item" routerLink="categories" routerLinkActive="active"><a>Категории</a></li>
          <li class="list-group-item" routerLink="suppliers" routerLinkActive="active"><a>Производители</a></li>
        </ul>
      </section>
      <section class="col-8">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>





