<header class="heading">
  <h3>Продукты <span *ngIf="state.isReady()" class="badge bg-secondary">{{filteredProducts.length}}</span></h3>
</header>

<app-pagination *ngIf="state.isReady()"
                [pagination]="pagination"
                (onPagination)="initProducts(products)"></app-pagination>

<table class="table results-table">
  <thead>
    <tr>
      <th class="img"></th>
      <th>Имя</th>
      <th>Код</th>
      <th>Произвожитель</th>
      <th>Ктегория</th>
      <th class="currency">Закупочная цена</th>
      <th class="currency">Наценка</th>
      <th class="currency">Цена</th>
      <th class="currency">Наценка</th>
      <th class="currency">Цена</th>
      <th class="actions">
        <button type="button"
                class="btn btn-outline-secondary btn-sm"
                [routerLink]="['/catalogue/products/product']">
          <i class="bi-plus"></i>
        </button>
      </th>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="name" (ngModelChange)="applyFilter()">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="code" (ngModelChange)="applyFilter()">
      </td>
      <td>
        <div>
          <select id="productSupplier" class="form-control"
                  [(ngModel)]="supplier"
                  [disabled]="!state.isReady()"
                  (ngModelChange)="applyFilter()">
            <option [ngValue]="undefined">All</option>
            <option *ngFor="let s of (suppliers | keyvalue)" [ngValue]="s.value.id">{{s.value.name}}</option>
          </select>
        </div>
      </td>
      <td>
        <div>
          <select id="productGroup" class="form-control"
                  [(ngModel)]="category"
                  [disabled]="!state.isReady()"
                  (ngModelChange)="applyFilter()">
            <option [ngValue]="undefined">All</option>
            <option *ngFor="let c of (categories | keyvalue)" [ngValue]="c.value.id">{{c.value.name}}</option>
          </select>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="actions">
        <button type="button"
                app-button-reset
                class="btn btn-outline-secondary btn-sm"
                (click)="clearFilter()"
                *ngIf="!filter.isEmpty()">
        </button>
      </td>
    </tr>
  </thead>
  <tbody *ngIf="state.isInProgress()">
    <tr>
      <td colspan="11">
        <app-shared-in-progress></app-shared-in-progress>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="state.isError()">
    <tr>
      <td colspan="11">
        <app-shared-error></app-shared-error>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="state.isReady()">
    <tr *ngFor="let product of productsToShow">
      <td class="img">
        <app-server-image uri="/api/product-images/get/"
                          [imageId]="product.value | productMainImage"
                          cssClass="table-image"></app-server-image>
      </td>
      <td><a [routerLink]="['/catalogue/products/product', product.value.id]">{{product.value.name}}</a></td>
      <td>{{product.value.code}}</td>
      <td>
        <div *ngIf="product.value.supplier">
          {{suppliers[product.value.supplier]?.name}}
        </div>
      </td>
      <td>
        <div *ngIf="product.value.category">
          {{categories[product.value.category]?.name}}
        </div>
      </td>
      <td class="currency">{{product.value.cost | currencyUsd}}</td>
      <td class="currency">{{product.value.priceUplift}}</td>
      <td class="currency">{{product.value.price | currencyUsd}}</td>
      <td class="currency">{{product.value.margin | currencyUsd}}</td>
      <td class="currency">{{product.value.priceUah | currencyUah}}</td>
      <td class="actions">
        <app-shared-error *ngIf="product.state.isError()"
                          [message]="product.state.getMessage()"></app-shared-error>
        <button type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="deleteProduct(product)"
                [disabled]="product.state.isInProgress()">
          <i class="bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
