<header class="heading">
  <h3>Products <span *ngIf="productsState.isReady()" class="badge bg-secondary">{{products.length}}</span></h3>
</header>

<app-pagination *ngIf="productsState.isReady()"
                [pagination]="pagination"
                (onPagination)="productsToShow = pagination.getPage(products)"></app-pagination>

<table class="table results-table">
  <thead>
    <tr>
      <th class="img"></th>
      <th>Name</th>
      <th>Supplier</th>
      <th>Group</th>
      <th class="currency">Cost</th>
      <th class="currency">Uplift</th>
      <th class="currency">Price</th>
      <th class="currency">Margin</th>
      <th class="currency">Price ₴</th>
      <th class="actions">
        <button type="button"
                class="btn btn-outline-secondary btn-sm"
                [routerLink]="['/catalogue/products/product']">
          <i class="bi-plus"></i>
        </button>
      </th>
    </tr>
    <tr>
      <td class="img"></td>
      <td></td>
      <td>
        <div>
          <app-shared-in-progress *ngIf="suppliersState.isInProgress()"></app-shared-in-progress>
          <app-shared-error *ngIf="suppliersState.isError()" [message]="suppliersState.getMessage()"></app-shared-error>
          <select id="productSupplier" class="form-control"
                  *ngIf="suppliersState.isReady()"
                  [(ngModel)]="supplier"
                  (ngModelChange)="applyFilter()">
            <option [ngValue]="undefined">All</option>
            <option *ngFor="let s of (suppliers | keyvalue)" [ngValue]="s.value.id">{{s.value.name}}</option>
          </select>
        </div>
      </td>
      <td>
        <div>
          <app-shared-in-progress *ngIf="categoriesState.isInProgress()"></app-shared-in-progress>
          <app-shared-error *ngIf="categoriesState.isError()" [message]="categoriesState.getMessage()"></app-shared-error>
          <select id="productGroup" class="form-control"
                  *ngIf="categoriesState.isReady()"
                  [(ngModel)]="category"
                  (ngModelChange)="applyFilter()">
            <option [ngValue]="undefined">All</option>
            <option *ngFor="let c of (categories | keyvalue)" [ngValue]="c.value.id">{{c.value.name}}</option>
          </select>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="actions"></td>
    </tr>
  </thead>
  <tbody *ngIf="productsState.isInProgress()">
    <tr>
      <td colspan="10">
        <app-shared-in-progress></app-shared-in-progress>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="productsState.isError()">
    <tr>
      <td colspan="10">
        <app-shared-error></app-shared-error>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="productsState.isReady()">
    <tr *ngFor="let product of productsToShow">
      <td class="img">
        <app-server-image cssClass="table-image" [imageId]="product.mainImage || product.additionalImages[0] || undefined"></app-server-image>
      </td>
      <td><a [routerLink]="['/catalogue/products/product', product.id]">{{product.name}}</a></td>
      <td>
        <div *ngIf="product.supplier">
          <app-shared-in-progress *ngIf="suppliersState.isInProgress()"></app-shared-in-progress>
          <app-shared-error *ngIf="suppliersState.isError()"></app-shared-error>
          <div *ngIf="suppliersState.isReady()">
            {{suppliers[product.supplier]?.name}}
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="product.category">
          <app-shared-in-progress *ngIf="categoriesState.isInProgress()"></app-shared-in-progress>
          <app-shared-error *ngIf="categoriesState.isError()"></app-shared-error>
          <div *ngIf="categoriesState.isReady()">
            {{categories[product.category]?.name}}
          </div>
        </div>
      </td>
      <td class="currency">{{product.cost | currencyUsd}}</td>
      <td class="currency">{{product.priceUplift}}</td>
      <td class="currency">{{product.price | currencyUsd}}</td>
      <td class="currency">{{product.margin | currencyUsd}}</td>
      <td class="currency">{{product.priceUah | currencyUah}}</td>
      <td class="actions">
        <app-shared-error *ngIf="individualProductsState[product.id]?.isError()" [message]="individualProductsState[product.id]?.getMessage()"></app-shared-error>
        <button type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="deleteProduct(product)"
                [disabled]="individualProductsState[product.id]?.isInProgress()">
          <i class="bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
