.product-categories-tree {


  .product-category-parent {
    height: 40px;
  }

  .product-category-child-node {
    padding-left: 1em;
    border-left: solid lightgray 1px;
  }

  .actions {
    text-align: right;
  }
}
