<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-shared-in-progress *ngIf="state.isInProgress()"></app-shared-in-progress>
      <app-shared-error *ngIf="state.isError()" [message]="state.getMessage()"></app-shared-error>
      <app-showcase-filters
        *ngIf="state.isReady()"
        [suppliers]="suppliers"
        [products]="products"
      ></app-showcase-filters>
    </div>
    <div class="col-8">
      <app-showcase-products
        [categories]="categories"
        [products]="filteredProducts"
        [state]="productsState"
      ></app-showcase-products>
    </div>
  </div>
</div>
